<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV - Stefan Koelle</title>
</head>
<body>
  <div id="container">
    <div id="wrapper-content">
      <div id="headline">
        <div id="headline-text">
          <h1>Stefan Kölle</h1>
          Senior Software Developer & Software&nbsp;Architect
        </div>
        <div id="headline-photo">
          <img src="../assets/stefan-koelle-foto.jpg" alt="Stefan Koelle">
        </div>
      </div>
      {% include "cv-content.njk" %}
    </div>
  </div>
</body>
</html>
