---
title: "Impressum"
section: "hub"
description: "Legal imprint (Impressum) for moonweb.org."
layout: base.njk
---

<h1>Impressum</h1>

<address>
  Stefan Kölle<br>
  Neumarkter Str. 86c<br>
  81673 München
</address>

<p>
  Phone/Fax: +49-(89)-20006547<br>
  E-Mail: <a href="mailto:info@inseco.de">info@inseco.de</a>
</p>
